<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>twilio sms</title>
    </head>
    <body>
        <div id="root">
            <h1>twilio sms</h1>
            <form name="myForm" method="post">
                <input type="text" name="smsInput" id="smsInput" />
            </form>
            <button onclick="handleClickSubmit()">click</button>
        </div>
        <script>
            const handleClickSubmit = async () => {
                try {
                    const form = document.querySelector(
                        '[name=myForm] > [name=smsInput]'
                    )
                    const responseData = await fetch(
                        'http://localhost:3000/receive',
                        {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                smsInput: form.value
                            })
                        }
                    )
                } catch (err) {
                    throw Error(err)
                }
            }
        </script>
    </body>
</html>
