<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>twilio sms</title>
    </head>
    <body>
        <div id="root">
            <h1>twilio sms</h1>
            <form
                action="http://localhost:3000/receive"
                method="post"
                onsubmit="formSubmit(event)"
            >
                <input type="text" name="smsInput" id="smsInput" />
                <button>
                    sms send
                </button>
            </form>
        </div>
        <script>
            const asyncSmsSend = async text => {
                const responseData = await ('http://localhost:3000/receive',
                text)
                const response = await responseData
                return response
            }

            const formSubmit = e => {
                const smsText = document.querySelector('#smsInput')
                asyncSmsSend(smsText.value)
            }
        </script>
    </body>
</html>
